NEXT_PUBLIC_INSFORGE_URL=https://9zb7h4wq.us-east.insforge.app
NEXT_PUBLIC_INSFORGE_ANON_KEY=

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com

# AI Provider Configuration (Prioritizes OPENAI_API_KEY. Falls back to OPEN_ROUTER_API_KEY if OpenAI key is not set)
OPENAI_API_KEY=
OPEN_ROUTER_API_KEY=
OPEN_ROUTER_MODEL=meta-llama/llama-3.3-70b-instruct:free # Optional: defaults to meta-llama/llama-3.3-70b-instruct:free if not set

BROWSERBASE_API_KEY=
BROWSERBASE_PROJECT_ID=

ADZUNA_APP_ID=
ADZUNA_APP_KEY=